<div class="debt-surround">
<div class="btn-stack">
  <a routerLink="dailyspend"><button class="btn btn-danger btn-wrapper">Daily Spending
  </button></a>
  <a routerLink="monthlyspend"><button class="btn btn-warning btn-wrapper">Monthly Expense
  </button></a>
  <a routerLink="made"><button class="btn btn-primary btn-wrapper">New Income
  </button></a>
  <a routerLink="savings"><button class="btn btn-success btn-wrapper">Savings
  </button></a>
  
</div>
<div class="surround">
  <router-outlet></router-outlet>
</div>
</div>
