<div class="user-bar">
  <h5>Welcome, you are signed in as: </h5>
  <h5><strong>firstUser27</strong></h5>
    <a routerLink="" class="logout"><i class="fa fa-user-times" aria-hidden="true"></i><strong>Logout</strong></a>
</div>
<div class="user-bar-buttons">
  <a routerLink="dailyspend"><button class="hover btn-start">Activity</button></a>
  <a routerLink="bills"><button class="hover">Bills</button></a>
  <a routerLink="dailyspend"><button class="hover">Earnings</button></a>
  <a routerLink="dailyspend"><button class="hover">Savings</button></a>
  <a routerLink="inputs"><button class="hover btn-end">Add New</button></a>
</div>
<div>
  <router-outlet></router-outlet>
</div>
