<form class="newmade-form">
  <h6>You are adding new income</h6>
  <select class="input">
    <option value="" selected disabled hidden>Where did it come from?</option>
      <option value="Work One">Work One</option>
      <option value="Work Two">Work Two</option>
      <option value="Work Three">Work Three</option>
      <option value="Gift">Gift</option>
      <option value="Hobby">Hobby</option>

  </select>
  <input class="input" type="number" placeholder="Amount?">
  <input class="input" type="date" placeholder="When?">
  <button class="btn btn-primary">Add Income</button>
</form>