<section class="main"> 
  <h1 class="main-heading">
    We are
    <br>
    <strong> Cash-PRO.</strong></h1>
  <h2 class="sub-2">We can help you keep track of your expenses.
    <br>
    <br>
     But first...</h2>
  <h3 class="sub-3">Please fill out some information below to use our service.</h3>
  <form id="user" class="signup-form" method='POST' action=''>
    <br>
      <input class="userForm-input"  name='name' type='text' placeholder="Your name">
    <br>
      <input class="userForm-input"  name='email' type='text' placeholder="Your email">
    <br>
      <input class="userForm-input"  name='username' type='text' placeholder="Pick a username">
    <br>
      <input class="userForm-input" name="password" type="password" placeholder="Select a new password">
    <br>
      <input class="userForm-input" name="password2" type="password" placeholder="Re-enter password">
    <br>
      <a href="#"><button class="btn btn-primary" type='submit' value='Submit'>Submit</button></a>
           <a routerLink=""><button class="btn-back btn-warning">Back to Login</button></a>
  </form>
</section>