
<div class="login-wrapper">
  <form class="login-form">
      <input type="text" name="username" placeholder="User ID" class="input-logs">
      <a href="#">Forgot User ID?</a>
    <br>
    <br>
      <input type="password" name="password" placeholder="Password" class="input-logs">
      <a href="#">Forgot Password?</a>
    <br>
    <br>
      <a routerLink="dashboard"><button class="login-btn btn-primary" type='submit' value='Submit'>Log On</button></a>
    <br>
      <div class="signup">
        <h3 class="signup-text">Not a user? <strong><a routerLink="signup">Sign up now!</a></strong></h3>
      </div>
  </form>
</div>