@import url('https://fonts.googleapis.com/css?family=Roboto');
/*
font-family: 'Roboto', sans-serif;
*/

.login-wrapper{
  font-family: 'Roboto', sans-serif;
  background-color: #0B0A20;
  min-width: 80%;
  max-width: 80%;
  height:400px;
  margin-left: 5%;
  margin-right: auto;
  border-radius: 8px;
  margin-top: 20px;
}
.login-form{
  display: flex;
  flex-direction: column;
  min-width: 80%;
  padding-top: 40px;
  margin-left: 4%;
  margin-right: 4%;
}
.input-logs{
  padding: 4px;
  margin-bottom:10px;
  border-radius: 8px;
  min-width: 200px;
  max-width: 300px; 
}
.login-btn{
  width: 80px;
  border-radius: 8px;
}
input:focus{
  border-style: solid;
  border-width: 4px;
  border-color: aquamarine; 
}
.signup{
  color:aquamarine;
  text-align: center;
}
.signup-text{
  width: 98%;
  font-size: 22px;
}